* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #2e2d2b;
  /* border: 1px solid red; */
}

button {
  cursor: pointer;
}

body {
  background-image: url("./assets/img/desktop.jpg");
  background-position: top left;
  background-size: calc(100% - 500px);
  background-color: #e8e3d3;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

@media screen and (orientation:portrait) {
  body {
    background-size: auto 100vh;
  }
}

.desktop {
  background-color: red;
  border:1px solid red;
  width: 500px;
}

#playback {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 40px;
  cursor: pointer;
  right: 5%;
  bottom: 8%;
  border-radius: 50%;
  /* background-color: rgba(0,0,0,0.5); */
  background-color: #2e2d2b;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 2vw 0vw 2vw;
}

#cover {
  z-index: 5;
  max-width: 600px;
  transition: 1.5s;
  top: 0px;
  right: 0px;
  /* width: 100%; */
  /* height: 95vh; */
  position: absolute;
  background-image: url("./assets/img/bg.png");
  padding: 3vh 2vw 0vw 2vw;
  height: 100vh;
}

#cover-container {
  position: relative;
  border: 1px solid #2e2d2b;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#cover-header {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.legend-corner {
  position: absolute;
  width: 4%;
}

.legend-corner.left {
  transform: translateY(-50%);
}

.legend-corner.right {
  right: 0px;
  transform: translateY(-50%);
}

.legend-side {
  position: absolute;
  width: 12%;
}

.legend-side.left {
  left: 35%;
  transform: translate(-50%, -50%);
}

.legend-side.right {
  right: 35%;
  transform: translate(50%, -50%);
}

.legend-main{
  position: absolute;
  width: 15%;
  /* height: auto; */
  /* object-fit: contain; */
  left: 50%;
  transform: translate(-50%, -65%);
}

#cover-line {
  width: 95%;
  border-top: 1px solid #2e2d2b;
  position: absolute;
  top: 1.25%;
}

#cover-content {
  padding-top: 1vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  /* border: 1px solid red; */
}

#title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#title-name {
  font-family: "Playfair Display";
  font-weight: 600;
  font-style: italic;
  font-size: 2.25rem;
}


.lines {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vh;
  flex-direction: column;
}

.line {
  border-top: 1px solid #2e2d2b;
  width: 100%;
  /* margin-top: 2.75%; */
}

.image {
  position: relative;
  width: 95%;
}

#cover-image {
  background-image: url("./assets/img/cover.png");
  width: 100%;
  height: 400px;
  /* padding-top: 100%; */
  /* margin-top: 100%; */
}

#cover-icon {
  position: absolute;
  width: 70%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-55%, -50%); */
}

#cover-date {
  text-align: center;
  color: #2e2d2b;
  font-family: "Playfair Display";
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.2rem;

  font-style: italic;
}

p {
  font-family: "Poppins";
  font-size: 1rem;
}

#cover-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.strong {
  font-weight: 500;
}

#open-invitation {
  border-top: 1px solid #2e2d2b;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

#open-invitation > button {
  letter-spacing: 0.20rem;
  font-family: "Poppins";
  font-size: 1rem;
  color: white;
  outline: none;
  padding: 5px 20px;
  border-radius: 50px;
  border: none;
  background-color: #2e2d2b;
  cursor: pointer;
}

.opened {
  transform: translateY(-100%);
  opacity: 0%;
}

#container {
  background-image: url("./assets/img/bg.png");
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
  max-width: 600px;
}

#container::-webkit-scrollbar {
    width: 2px;
    position: absolute;
}

#container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    position: absolute;
}

#container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    position: absolute;
}

.header {
  width: 100%;
}

.header-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1vh 0px;
}

.header-content > p {
  font-family: "Playfair Display";
  font-size: 1rem;
}

.header-left {
  justify-self: flex-start;
}

.header-middle {
  justify-self: center;
}

.header-right {
  justify-self: flex-end;
}

#first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

/* #first-page > * { */
/*   border: 1px solid red; */
/* } */

#first-page > h2 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 2rem;
  padding: 5px 0px;
}

#invited-image {
  background-image: url("./assets/img/invited.png");
  /* margin-top: 0px; */
  width: 100%;
  height: 20%;
  /* border: 1px solid red; */
}

.name { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name > .title {
  font-family: "Poppins";
  margin-top: 2%;
  font-weight: 500;
  font-size: 0.8rem;
}

.name > h1 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 2rem;
  /* border: 1px solid red; */
}

.name > .date {
  font-family: "Poppins";
  font-weight: 500;
  margin: 2% 0px;
  font-size: 0.8rem;
}

#first-page > h3 {
  font-family: "Playfair Display";
  /* font-style: italic; */
  /* font-size: 3rem; */
}

.sambutan {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.sambutan > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* border: 2px solid green; */
  height: 100%;
}

.sambutan > .text > p {
  /* border: 1px solid red; */
  text-align: center;
  font-family: "Poppins";
  font-style: italic;
  font-size: 0.65rem;
}

#sambutan-image {
  background-image: url("./assets/img/sambutan.png");
  height: 220px;
  width: 40%;
  margin: 10px 0px;
  /* width: 100%; */
  /* border: 1px solid red; */
}

.special-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

/* .header > p { */
/*   font-family: "Playfair Display"; */
/*   font-size: 1rem; */
/* } */

.footer-left {
  justify-self: flex-start;
}

.footer-middle {
  position: relative;
  justify-self: center;
  /* border: 1px solid red; */
  /* height: 100%; */
  /* width: 100%; */
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #2e2d2b;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.arrow {
  border-top: 1px solid #2e2d2b;
  border-left: 1px solid #2e2d2b;
  width: 15px;
  height: 15px;
  /* transform: rotate(-135deg); */
  animation: animate 2s infinite;
}

.delay {
  animation-delay: -0.2s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(-135deg) translate(8px, 8px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-135deg) translate(-2px, -2px);
    }
}

.footer-right {
  justify-self: flex-end;
  height: 30px;
  padding: 5px 20px;
  /* border: 1px solid red; */
}

.special-footer > .footer-right {
  border-left: 1px solid #2e2d2b;
}


#second-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
  /* border: 1px solid red;; */
}

#bio-image {
  background-image: url("./assets//img/bio.png");
  width: 100%;
  height: 20%;
}

.box-corner {
  position: absolute;
  width: 10%;
  height: 25%;
  background-image: url("./assets/img/bg.png");
  border: 1px solid #2e2d2b;
  border-radius: 50%;
}

#ayat-frame {
  position: relative;
  overflow: hidden;
}

.btl {
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
}

.btr {
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
}

.bbl {
  bottom: 0px;
  left: 0px;
  transform: translate(-50%, 50%);
}

.bbr {
  bottom: 0;
  right: 0px;
  transform: translate(50%, 50%);
}

#ayat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  padding: 15px 40px 10px 40px;
  border: 1px solid #2e2d2b;
  /* border-radius: -10%; */
}

#ayat > p {
  font-size: 0.65rem;
  line-height: 1em;
}

#ayat > p:nth-child(1) {
  font-family: "Poppins";
  font-style: italic;
  text-align: justify;
}

#ayat > p:nth-child(2) {
  font-family: "Playfair Display";
  font-weight: 600;
  text-align: center;
}

#biodata-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  /* gap: 2%; */
  height: fit-content;
}

.biodata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid green; */
}

.groom {
  background-image: url("./assets/img/groom.png");
}

.bride {
  background-image: url("./assets/img/bride.png");
}

.bio-image {
  flex-grow: 1;
  min-width: 150px;
  /* border: 1px solid red; */
  height: 100%;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.bio-left {
  padding-left: 10px;
  align-items: end;
}

.bio-right {
  padding-right: 10px;
  align-items: start;
}


.bio > p {
  font-family: "Poppins";
  /* text-align: right; */
}

.bio > p:nth-child(1) {
  font-family: "Playfair Display";
  font-size: 0.8rem;
}

.bio > p:nth-child(2) {
  font-family: "Playfair Display";
  font-weight: 700;
}

.bio > p:nth-child(3) {
  font-family: "Playfair Display";
  font-weight: 700;
}

.bio > p:nth-child(5) {
  font-weight: 500;
  font-size: 0.8rem;
  font-style: italic;
}

.bio > p:nth-child(6) {
  font-size: 0.8rem;
  font-style: italic;
}

.bio > p:nth-child(7) {
  font-size: 0.8rem;
  font-style: italic;
}

.instagram-icon {
  margin-top: 5px;
  background-color: #2e2d2b;
  padding: 3px 4px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.instagram-icon > i {
  color: #ebe6e0;
}

#with {
  font-family: "Playfair Display";
  font-size: 0.8rem;
  margin: 10px 0px;
  /* border: 1px solid red;; */
}

.footer {
  width: 100%;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#third-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

#third-page > h1 {
  display: block;
  width: 100%;
  text-align: right;
  padding: 10px 0px;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2.5px;
}

#journey-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#journey-image {
  background-image: url("./assets/img/journey.png");
  height: 95%;
  width: 48%;
}

#journeys {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  align-items: flex-end;
}

#journeys > .line{
  width: 120px;
}

.journey-content {
  font-family: "Poppins";
  font-style: italic;
  text-align: right;
}

.journey-title {
  font-weight: 600;
  font-size: 0.7rem;
}

.journey-description {
  font-size: 0.7rem;
  line-height: 1.2em;
}

#fourth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

#information-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

#information-container > div {
  /* border: 1px solid red; */
}

#save-the-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 60%; */
}

#save-the-date > .line {
  width: 120%;
}

#save-the-date > p {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 1.25rem;
}

#save-the-date > h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 5px;
}

#countdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 120%;
  padding: 5px 0px;
  /* border: 1px solid red; */
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.countdown-item > p {
  font-family: "Poppins";
}

.countdown-item > h4 {
  font-family: "Playfair Display";
  font-weight: 800;
  font-size: 0.75rem;
}

#location {
  display: flex;
  font-size: 0.7rem;
  gap: 10%;
  padding: 0px 10px;
  width: 80%;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
}

.location > h1 {
  font-family: "Playfair Display";
  font-size: 2rem;
  /* align-self: left; */
  /* border: 1px solid red; */
}

.location > .line {
  margin-top: 5px;
}

.location > .time {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Poppins";
  font-style: italic;
}

.location > .place{
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
}

.location > .address {
  font-family: "Poppins";
  font-style: italic;
  text-align: justify;
}

.location > button {
  margin-top: 5px;
  font-family: "Poppins";
  /* font-size: 1rem; */
  border-radius: 50px;
  color: #ebe6e0;
  background-color: #2e2d2b;
  align-self: flex-end;
  padding: 0px 10px;
  outline: none;
  border: none;
}

.location > button > a{
  color: #ebe6e0;
  text-decoration: none;
}

#location-image {
  background-image: url("./assets/img/location.png");
  /* height: 220px; */
  width: 100%;
  margin-bottom: 10px;
}

#fifth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

#gift-image {
  background-image: url("./assets/img/gift.png");
  background-position: 0% 25%;
  height: 150px;
  width: 100%;
  transition: 1s;
}

/* #gift-image > .hide-image { */
/*   height: 0px; */
/* } */

#gift-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 100%;
  /* padding-bottom: 50px; */
}

#gift-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 1s;
  /* height: 100%; */
}

#gift-container > h1 {
  margin-top: 5px;
  font-family: "Playfair Display";
  font-size: 2rem;
}

#gift-container > p {
  text-align: center;
  font-size: 0.75rem;
  width: 80%;
  line-height: 1em;
  font-style: italic;
}

#toggle-gift {
  font-family: "Poppins";
  border-radius: 50px;
  color: #ebe6e0;
  background-color: #2e2d2b;
  padding: 0px 20px;
  outline: none;
  border: none;
  transition: 1s;
}

#gift-hider {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 0px;
  /* height: 500px; */
  transition: 1s;
  /* border: 1px solid green; */
  /* box-shadow: 0px 0px 10px 10px #ebe6e0; */
}

#open {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid red; */
}

#open > * {
  /* border: 1px solid red; */
}

.gift-card {
  background-image: url("./assets/img/gift-card.png");
  background-size: 100% 100%;
  position: relative;
  width: 280px;
  height: 130px;
  /* border: 1px solid red; */
}

.gift-card > img {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 20%;
  height: auto;
  /* border: 1px solid red; */
}

#bsi {
  position: absolute;
  top: 10%;
  right: 7%;
  width: 20%;
  height: auto;
  /* border: 1px solid red; */
}

.gift-card .gift-information {
  position: absolute;
  width: 200px;
  position: absolute;
  left: 15%;
  top: 50%;
  /* border: 1px solid red; */
}

.gift-number {
  font-size: 0.65rem;
}

.gift-name > p {
  font-style: italic;
  font-size: 0.65rem;
}

.gift-card > button {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-30%, -100%);
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: "Poppins";
  border-radius: 50px;
  color: #ebe6e0;
  background-color: #2e2d2b;
  padding: 0px 10px;
  outline: none;
  border: none;
}

.gift-card > button > i {
  color: #ebe6e0;
}

.gift-present {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  width: 280px;
  height: 150px;
  background-image: url("./assets/img/gift-present.png");
  background-size: 100% 100%;
  /* border: 1px solid red; */
}

.gift-present > * {
  /* border: 1px solid red; */
}

.gift-present > i {
  height: 14px;
}

.gift-present > p {
  font-weight: 600;
  font-size: 0.6rem;
  font-style: italic;
}

.gift-present > .gift-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-present > .gift-information > p {
  font-size: 0.6rem;
  font-style: italic;
  text-align: center;
  width: 90%;
}

#sixth-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 100%;
  /* border: 1px solid red; */
}

#sixth-page > * {
  /* border: 1px solid red; */
}

#sixth-page > h1 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 2rem;
  font-size: 2.25rem;
}

#wishes-container {
  flex-grow: 1;
  width: 100%;
  padding: 8%;
  /* border: 1px solid red; */
}

#wishes-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#wishes-form > input,
#wishes-form > textarea {
  font-family: "Poppins";
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  resize: none;
}

#wishes-form > textarea {
  height: 100px;
}

#wishes-form > textarea::-webkit-scrollbar {
  width: 3px;
  /* background-color: rgba(255,255,255,0.8); */
}

#wishes-form > textarea::-webkit-scrollbar-thumb {
  background-color: #2e2d2b;
  border-radius: 20px;
}

#wishes-form > button {
  margin-top: 5px;
  font-family: "Poppins";
  /* font-size: 1rem; */
  border-radius: 50px;
  color: #ebe6e0;
  background-color: #2e2d2b;
  align-self: flex-start;
  padding: 5px 25px;
  outline: none;
  border: none;
}

#wishes {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding-bottom: 50px;
  overflow-y: auto;
  gap: 15px;
  margin-top: 10%;
  mask-image: linear-gradient(to bottom, black calc(100% - 100px), transparent 100%);
  /* border: 1px solid red; */
}

#wishes::-webkit-scrollbar {
  width: 5px;
  background-color: #2e2d2b33;
}

#wishes::-webkit-scrollbar-thumb {
  background-color: #2e2d2b;
  border-radius: 20px;
}

.wish {
  font-family: "Poppins";
}

.nama {
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.ucapan {
  font-size: 0.65rem;
}

.waktu {
  font-size: 0.55rem;
}

#envelope {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: rotateZ(-10deg) translateX(-50%);
  width: 85%;
}

#seventh-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

#seventh-page > img {
  width: 150px;
  margin-bottom: 50px;
}

#seventh-page > h1 {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
}

#seventh-page > p {
  font-family: "Poppins";
  font-size: 0.75rem;
  text-align: center;
  width: 60%;
  padding-top: 30px;
}
